extend layout

block content

  h3 Navigation Helper:

  !{navigation(current.children, 0, 0, current)}

  h3 Loop:

  ul
    each child in current.children
      li
        a(href=child.path)= child.name
